version: 2.1
orbs:
  codecov: codecov/codecov@3.0.0
jobs:
  build:
    working_directory: /root/project/SubPrecisionContactDetection.jl   # Clone into a directory whose name matches your Package.
    docker:
      - image: julia:1.8
    steps:
       - run: ls -alsht
       - run: pwd
       - run: apt update
       - run: apt install python3 -y
       - run: apt install python3-pip -y
       - run: pip3 install scikit-image
       - run: pip3 install kneed
       - run:
          command: julia -e 'using Pkg; Pkg.add("Coverage"); Pkg.add(url="https://github.com/bencardoen/Colocalization.jl.git"); Pkg.add(url="https://github.com/bencardoen/ERGO.jl.git"); Pkg.add(url="https://github.com/bencardoen/SPECHT.jl.git"); Pkg.add(url="https://github.com/bencardoen/SubPrecisionContactDetection.jl.git"); Pkg.build("SubPrecisionContactDetection"); Pkg.test("SubPrecisionContactDetection", coverage=true);'
          environment:
            R_HOME : "*"
            PYTHON : "/usr/bin/python3"
       - run:
          command: julia -e 'using Pkg; cd(Pkg.dir("SubPrecisionContactDetection")); using Coverage; Codecov.submit(Codecov.process_folder())'
